*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: rgb(206, 159, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
